page-home {
  .searchbar-md .searchbar-input {
    background-color: #555454;
    height: 3.5vh;
  }
  .searchbar-md .searchbar-input {
    padding-top: 0px;
    padding-right: 0vw;
    padding-bottom: 0px;
    padding-left: 3vw;
    font-size: small;
  }
  .searchbar-md .searchbar-search-icon {
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
  }
  /**/
  .header{
    display: flex;
    .logo{
      max-width: 30vw;
      .slide-image{
        max-height: 6.5vh;
        padding-right: 7vw;
      }
    }
  }
  .search{
    width: 58vw;
    .input{
      width: 48vw;
      margin-right: 2vw;
    }
  }
  .search-bar{
    max-width: 59vw;
    .location{
      float: right;
      display: flex;
    }
  }

  /*Content*/
  .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: transparent;
    opacity: 1;
    background-color: #8A0000;
  }
  .segment-md .segment-button {
    padding: 0 6px;
    width: 0;
    height: 4rem;
    font-size: 1rem;
    color: #f4f4f4;
    background-color: #6D6D6D;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgba(13, 1, 1, 0.93);
    padding-top: 0.8rem;
  }

  .panel{
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: center;
  }
   @media(max-width: 320px){
    .col1{
        max-width: 4.5rem;
    }
    .col4{
        max-width: 4.5rem;
    }
    .col5{
        max-width: 4.5rem;
    }
    .col6 {
        max-width: 4.5rem;
    }

    .main-segment{
        max-height: 1.5rem;
        margin-bottom: 2rem;
    }

    .segment-md .segment-button {
      padding: 0 6px;
      width: 0;
      height: 4.2rem;
      font-size: 0.8rem;
      color: #f4f4f4;
      background-color: #6D6D6D;
      border-right-width: 2px;
      border-right-style: solid;
      border-right-color: rgba(13, 1, 1, 0.93);
      padding-top: 0.8rem;
    }

  }

  @media(max-width: 360px){
      .col1{
          max-width: 5rem;
      }
      .col4{
          max-width: 5rem;
      }
      .col5{
          max-width: 5rem;
      }
      .col6 {
          max-width: 5rem;
      }
  }

}
